.container {
  background: white;
  z-index: 1;
  box-shadow: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 290px;
  position: relative;
  overflow: auto;
  max-height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 32px;
}

.header {
  display: flex;
  padding: 32px;
  align-items: center;
  justify-content: space-between;
}

.titleSection {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.overlay {
  position: fixed;
  background-color: black;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-modal-overlay);
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-modal);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.subtitle {
  margin-top: 5px;
}

.modal::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 10px;
  }

  .content {
    padding: 16px;
  }

  .header {
    padding: 20px;
  }

  .titleSection {
    margin-right: 20px;
  }

  .modalLogin {
    display: none;
    background: var(--theme-l1);
  }

  .modal {
    align-items: unset;
    justify-content: unset;
  }
}
