@font-face {
  font-family: 'ClashDisplay Medium';
  src: url('/ClashDisplay-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'ClashDisplay Semibold';
  src: url('/ClashDisplay-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'ClashDisplay Bold';
  src: url('/ClashDisplay-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'ClashDisplay';
  src: url('/ClashDisplay-Regular.ttf') format('truetype');
}
