@tailwind base;
@tailwind components;
@tailwind utilities;

@import './scrub.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 200 3 21;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
.flex-padding  {
  column-gap: 20px;
}
.padding{
  padding: 0px 10px;
}
.custom-background {
  /* font-family: Sora; */
  background: #EEE4FE;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #8B49F7;
  padding-top: 8px;
    padding-bottom: 8px;
}
.custom-background img {
  height: 14px;
  width: 16px;
  
}
.custom-width {
  width: 100%;
  display: grid;
  white-space: pre;
  grid-template-columns: 20% 80%;
  padding: 10px 14px;
  background: black;
  color: white;
  column-gap: 5px;
  /* flex-wrap: wrap; */
}
.custom-width span {
  margin-top: 3px;

  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.right-corner{
  margin-left: auto;
  column-gap: 15px;
  align-items: center;

}
.right-corner img:not(.w-4){
  width: 36px;
  height: 36px;
}
music-info {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
}
.info-section {
  display: flex;
  column-gap: 40px;
  align-items: center;
  margin-bottom: 20px;
}
.info-item {
  text-align: center;
}
.info-number {
  font-size: 16px;
  font-weight: 600;
}
.info-label {
  display: block;
  color: #888;
  text-align: justify;
  font-size: 14px;
}
.top-song-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.followers {
  display: flex;
  align-items: center;
}
.follower-images {
  display: flex;
}
.follower-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: -10px;
}
.follower-text {
  margin-left: 10px;
  color: #888;
}
.info-item .flex span{
  font-weight: 800;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 10px;
}

