.scrub-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: white;
  width: 10px;
  height: 10px;
  top: -3px;
  border-radius: 5px;
  display: none;
}
.scrub-track.scrub-track-0 {
  position: relative;
  background: black;
  height: 4px;
}

.scrub:active .scrub-thumb {
  display: block !important;
}
.scrub:hover .scrub-thumb {
  display: block !important;
}

.scrub-track {
  background: rgb(209 213 219 / var(--tw-bg-opacity));
  height: 4px;
}

.global-scrub-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: black;
  width: 14px;
  height: 14px;
  top: -4px;
  border-radius: 7px;
  display: none;
}

.global-scrub:active .global-scrub-thumb {
  display: block !important;
}
.global-scrub:hover .global-scrub-thumb {
  display: block !important;
}

.global-scrub-track.global-scrub-track-0 {
  @apply bg-black h-1 pointer-events-none;
}

.global-scrub-track.global-scrub-track-1 {
  @apply bg-muted h-1 pointer-events-none;
}

.global-scrub-track {
  background: rgb(75 85 99 / var(--tw-bg-opacity));
  height: 4px;
  pointer-events: none;
}
